$breakpoint-grid-sm: 576px;
$breakpoint-grid-md: 768px;
$breakpoint-grid-lg: 992px;
$breakpoint-grid-xl: 1200px;

$breakpoint-sm: 575px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1200px;


$whiteColor: #ffffff;
$defaultText: #333333;
$blueColor: #013E6B;
$darkBlue: #142D42;
$lightBlue: #1E57B1;
$redColor: #C93C2C;
$redColor2: #ed1c24;
$hoverRedColor: #ad3224;
$blackColor: #000000;