@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Poppins', sans-serif;
  color: #333333;
  font-weight: 400;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  position: relative;
  background: #ffffff;
  color: #333333;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.--semibold {
  font-weight: 600;
}

.--regular {
  font-weight: 400;
}

.--medium {
  font-weight: 500;
}

.--bold {
  font-weight: 700;
}

.--uppercase {
  text-transform: uppercase;
}

.heading-1 {
  font-size: 42px;
  font-size: -webkit-calc(30px + (42 - 30) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(30px + (42 - 30) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(30px + (42 - 30) * ((100vw - 300px) / (1900 - 300)));
  line-height: 1.07;
}

.heading-2 {
  font-size: 30px;
  font-size: -webkit-calc(24px + (30 - 24) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(24px + (30 - 24) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(24px + (30 - 24) * ((100vw - 300px) / (1900 - 300)));
  line-height: 1.33;
}

.heading-3 {
  font-size: 24px;
  font-size: -webkit-calc(20px + (24 - 20) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(20px + (24 - 20) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(20px + (24 - 20) * ((100vw - 300px) / (1900 - 300)));
  line-height: 1.16;
}

.heading-4 {
  font-size: 20px;
  font-size: -webkit-calc(18px + (20 - 18) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(18px + (20 - 18) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(18px + (20 - 18) * ((100vw - 300px) / (1900 - 300)));
  line-height: 1.33;
}

.heading-5 {
  font-size: 18px;
  font-size: -webkit-calc(16px + (18 - 16) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(16px + (18 - 16) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1900 - 300)));
  line-height: 1.33;
}

.heading-6 {
  font-size: 16px;
  font-size: -webkit-calc(14px + (16 - 14) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(14px + (16 - 14) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1900 - 300)));
  line-height: 1.33;
}

.border-red {
  padding-left: 8px;
  border-left: 3px solid #C93C2C;
}

.text-white {
  color: #ffffff;
}

.text-black {
  color: #333333;
}

.text-red {
  color: #C93C2C;
}

.btn-primary {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background: #C93C2C;
  padding: 14px 32px;
  border: 2px solid #C93C2C;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.btn-primary:hover {
  background: transparent;
}

.form-group {
  margin-bottom: 16px;
}

.form-group input, .form-group textarea {
  font-family: inherit;
  font-size: inherit;
  resize: none;
  width: 100%;
  color: #333333;
  font-size: 16px;
  line-height: 24px;
  padding: 13px 24px;
  background: #FFFFFF;
  border: 1px solid #D0D0D0;
}

.form-group input::placeholder, .form-group textarea::placeholder {
  color: #898989;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.form-group input::-moz-placeholder, .form-group textarea::-moz-placeholder {
  color: #898989;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

#breadcrumbs {
  background: rgba(1, 62, 107, 0.4);
  padding: 8px 0;
  position: absolute;
  width: 100%;
  z-index: 20;
}

#breadcrumbs ol {
  list-style: none;
  display: flex;
}

#breadcrumbs li {
  position: relative;
}

#breadcrumbs li:after {
  content: '/';
  color: #ffffff;
  margin: 0 7px 0 4px;
}

#breadcrumbs a {
  text-decoration: none;
}

#breadcrumbs span {
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#breadcrumbs span:hover {
  border-color: #ffffff;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 15px;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 15px;
}

.mb-16 {
  margin-bottom: 16px;
}

.header {
  background: #013E6B;
}

.header-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header-logo {
  width: 270px;
  display: flex;
}

.header-logo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#menu {
  background: #013E6B;
  padding: 20px 0 14px 0;
}

.menu {
  display: flex;
  list-style: none;
  margin-left: auto;
}

.menu li {
  margin: 0 10px;
}

.menu li a {
  color: #ffffff;
  padding: 0 10px;
  position: relative;
  text-decoration: none;
}

.menu li a:before {
  content: '';
  background: #ffffff;
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.menu li a:hover:before {
  opacity: 1;
}

.menu-inner-container {
  display: flex;
  align-items: center;
}

.main-screen {
  height: 620px;
  width: 100%;
  background-image: url("../../img/main-screen-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.main-screen:before {
  content: '';
  background: rgba(20, 49, 72, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.main-screen .container {
  height: 100%;
}

.main-screen__inner {
  position: relative;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.main-screen-background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-screen-person {
  position: absolute;
  width: 410px;
  left: 50px;
  bottom: 0;
  object-fit: contain;
}

.main-screen__welcome {
  background: rgba(1, 62, 107, 0.4);
  z-index: 22;
  margin: 0 0 32px -40px;
  padding: 40px;
  max-width: 625px;
}

.main-screen__welcome .person-title {
  color: #ffffff;
  margin-bottom: 25px;
  font-weight: 600;
  text-transform: uppercase;
}

.main-screen__welcome .person-subtitle {
  color: #ffffff;
  padding: 12px;
  border-left: 4px solid #C93C2C;
}

.main-screen__form {
  width: 350px;
  background: #013E6B;
  margin-bottom: 32px;
  padding: 24px 16px;
  z-index: 22;
}

.main-screen__form legend {
  font-size: 24px;
  font-size: -webkit-calc(20px + (24 - 20) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(20px + (24 - 20) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(20px + (24 - 20) * ((100vw - 300px) / (1900 - 300)));
  line-height: 1;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 16px;
}

.main-screen__form .form-submit {
  width: 170px;
  margin: 0 auto;
}

.main-screen__form .btn-primary {
  width: 100%;
}
