@import "../abstracts/mixins";
@import "../abstracts/variables";

// * {
//   outline: 1px solid rgba(255, 0, 0, .5);
// }

.container {
  max-width: 1140px;
  margin: auto;
  padding: 0 15px;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -15px;
  &.m-row {
    margin: 0;
  }
}


.mb-10 {
  margin-bottom: 10px!important;
}
.mb-15 {
  margin-bottom: 15px!important;
}
.mb-16 {
  margin-bottom: 16px!important;
}
.mb-20 {
  margin-bottom: 20px!important;
}
.mb-25 {
  margin-bottom: 25px!important;
}
.mb-30 {
  margin-bottom: 30px!important;
}
.mb-35 {
  margin-bottom: 35px!important;
}
.mb-40 {
  margin-bottom: 40px!important;
}

.spacer-10 {
  height: 10px;
}
.spacer-15 {
  height: 15px;
}
.spacer-20 {
  height: 20px;
}
.spacer-25 {
  height: 25px;
}
.spacer-30 {
  height: 30px;
}
.spacer-35 {
  height: 35px;
}
.spacer-40 {
  height: 40px
}

@media (max-width: $breakpoint-md) {
  .spacer-30 {
    height: 20px;
  }
  .spacer-35 {
    height: 25px;
  }
  .spacer-40 {
    height: 30px
  }
  .mb-30 {
    margin-bottom: 20px!important;
  }
  .mb-35 {
    margin-bottom: 25px!important;
  }
  .mb-40 {
    margin-bottom: 30px!important;
  }
}


@for $i from 1 through 12 {
  .col-xs-#{$i} {
    @include grid-size(8.333333% * $i);
    padding: 0 15px;
  }
}

@media (min-width: ($breakpoint-grid-sm)) {
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      @include grid-size(8.333333% * $i);
      padding: 0 15px;
    }
  }
}

@media (min-width: ($breakpoint-grid-md)) {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      @include grid-size(8.333333% * $i);
      padding: 0 15px;
    }
  }
}

@media (min-width: ($breakpoint-grid-lg)) {
  @for $i from 1 through 12 {
    .col-lg-#{$i} {
      @include grid-size(8.333333% * $i);
      padding: 0 15px;
    }
  }
}

