@import "../abstracts/mixins";
@import "../abstracts/variables";

// * {
//   outline: 1px solid rgba(255, 0, 0, .5);
// }

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 15px;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -15px;
  &.m-row {
    margin: 0;
  }
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-30 {
  margin-bottom: 30px;
}

@for $i from 1 through 12 {
  .col-xs-#{$i} {
    @include grid-size(8.333333% * $i);
    padding: 0 15px;
  }
}

@media (min-width: ($breakpoint-grid-sm)) {
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      @include grid-size(8.333333% * $i);
      padding: 0 15px;
    }
  }
}

@media (min-width: ($breakpoint-grid-md)) {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      @include grid-size(8.333333% * $i);
      padding: 0 15px;
    }
  }
}

@media (min-width: ($breakpoint-grid-lg)) {
  @for $i from 1 through 12 {
    .col-lg-#{$i} {
      @include grid-size(8.333333% * $i);
      padding: 0 15px;
    }
  }
}

