@import "../abstracts/mixins";
@import "../abstracts/variables";

.header {
  background: #013E6B;
  &-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  &-logo {
    width: 270px;
    display: flex;
    & img {
      @include defaultIcon(contain);
    }
  }
}

#menu {
  background: #013E6B;
  padding: 20px 0 14px 0;
}

.menu {
  display: flex;
  list-style: none;
  margin-left: auto;
  padding-left: 0;
  & li {
    margin: 0 10px;
    &:last-child {
      margin-right: 0;
    }
    & a {
      color: $whiteColor;
      padding: 0 10px;
      position: relative;
      text-decoration: none;
      &:before {
        content: '';
        background: $whiteColor;
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 100%;
        height: 2px;
        opacity: 0;
        @include transition(.3);
      }
      &:hover {
        &:before {
          opacity: 1;
        }
      }
    }
  }
  &-inner {
    &-container {
      display: flex;
      align-items: center;
    }
  }
}
