@import "../abstracts/mixins";
@import "../abstracts/variables";

.header {
  background: #013E6B;
  &-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    @media (max-width: $breakpoint-md) {
      justify-content: center;
      & .header-call {
        display: none;
      }
    }
  }
  &-logo {
    width: 270px;
    display: flex;
    @media (max-width: 360px) {
      width: 240px;
    }
    & img {
      @include defaultIcon(contain);
    }
  }
}

#menu {
  background: #013E6B;
  padding: 20px 0 14px 0;
}

.menu {
  display: flex;
  list-style: none;
  margin-left: auto;
  padding-left: 0;
  & .header-call {
    display: none;
    @media (max-width: $breakpoint-md) {
      display: block;
      margin: 20px auto 10px auto;
    }
  }
  @media (max-width: $breakpoint-xl) {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }
  & li {
    margin: 0 10px;
    @media (max-width: $breakpoint-xl) {
      margin: 0 0 16px 0;
    }
    &:last-child {
      margin-right: 0;
    }
    & a {
      color: $whiteColor;
      padding: 0 10px;
      position: relative;
      text-decoration: none;
      &:before {
        content: '';
        background: $whiteColor;
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 100%;
        height: 2px;
        opacity: 0;
        @include transition(.3);
      }
      &:hover {
        &:before {
          opacity: 1;
        }
      }
      @media (max-width: $breakpoint-xl) {
        padding: 0;
        &:before {
          opacity: 1;
        }
      }
    }
  }
  &-inner {
    &-container {
      display: flex;
      align-items: center;
    }
  }
}



.navbar {
  @include transition(.3);
  z-index: 2022;
  @media (max-width: $breakpoint-xl) {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background: $blackColor;
    display: flex;
    flex-direction: column;
    @include transition(.3);
    z-index: 2022;
    background: #013e6b;
    top: 138px;
    padding: 15px;
    box-shadow: 1px 10px 8px rgba(0,0,0,.2);
  }
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.hamburger {
  display: none;
  width: 45px;
  height: 45px;
  margin-left: auto;
  position: relative;
  z-index: 22;
  @media (max-width: $breakpoint-xl) {
    display: block;
  } 
  & span {
    position: absolute;
    right: 0;
    display: block;
    width: 25px;
    background: $whiteColor;
    height: 3px;
    border-radius: 10px;
    @include transition(.3);
  }
  & span:nth-child(1) {
    top: calc(50% - 8.5px);
  }
  & span:nth-child(2) {
    top: calc(50% - 2.5px);
  }
  & span:nth-child(3) {
    top: calc(50% - 2.5px);
  }
  & span:nth-child(4) {
    top: calc(50% + 3.5px);
  }
  &.open {
    & span {
      background: $whiteColor;
    }
    & span:nth-child(1) {
      top: calc(50% - 2.5px);
      width: 0%;
      right: 50%;
    }
    & span:nth-child(2) {
      transform: rotate(45deg);
    }
    & span:nth-child(3) {
      transform: rotate(-45deg);
    }
    & span:nth-child(4) {
      top: calc(50% - 2.5px);
      width: 0;
      right: 50%;
    }
  }
}