.accordion {
  &-row {
    margin-bottom: 48px;
  }
  &__item {
    position: relative;
    width: 100%;
    // min-height: 130px;
    margin-bottom: 2px;
    background: $blueColor;
    &.active {
      & .icon-arrow {
        transform: rotate(180deg);
      }
    }
    & .icon-arrow {
      position: absolute;
      width: 60px;
      height: 100%;
      background-size: 22px;
      background-position: center;
      right: 0;
      top: 0;
      cursor: pointer;
      @include transition(0.3);
      @media (max-width: $breakpoint-lg) {
        transition: none;
      }
    }
  }
  &__content {
    display: none;
    background: #f3f4f5;
    padding: 16px 24px 24px 48px;
    & p {
      color: $defaultText;
    }
    & a {
      text-decoration: none;
      border-bottom: 1px solid transparent;
      @include transition(0.3);
      line-height: 1;
      &:hover {
        border-color: $darkBlue;
      }
    }
  }
  &__button {
    display: block;
    padding: 20px 45px 24px 20px;
    position: relative;
    color: $whiteColor;
    @include transition(0.3);
  }
  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    & i {
      margin-right: 16px;
    }
  }
  &__description {
    margin-left: 48px;
    color: $whiteColor;
    & a {
      color: $whiteColor;
    }
  }
}