@import "../abstracts/mixins";
@import "../abstracts/variables";

.main-screen {
  height: 640px;
  width: 100%;
  background-image: url('../img/main-screen-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  @media (max-width: $breakpoint-lg) {
    height: auto;
  }
  &:before, &:after {
    content: '';
    background: rgba(20,49,72,.7);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
  }
  &:after {
    z-index: 2003;
    opacity: 0;
    background: rgba(0,0,0,.5);
    @include transition(.3);
  }
  &.active {
    &:after {
      opacity: 1;
    }
  }
  & .container {
    height: 100%;
  }
  &__inner {
    position: relative;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @media (max-width: $breakpoint-lg) {
      flex-direction: column;
    }
  }
  &-background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    @include defaultIcon(cover);
  }
  &-person {
    position: absolute;
    width: 410px;
    left: 50px;
    bottom: 0;
    object-fit: contain;
    @media (max-width: $breakpoint-lg) {
      display: none;
    }
  }
  &__welcome {
    background: rgba(1, 62, 107, 0.4);
    z-index: 22;
    margin: 0 0 32px -40px;
    padding: 40px;
    max-width: 700px;
    @media (max-width: $breakpoint-lg) {
      max-width: 100%;
      width: 100%;
      margin: 50px 0 30px 0;
    }
    &.home-page-welcome {
      @media (max-width: $breakpoint-lg) {
        margin-top: 0;
      }
    }
    @media (max-width: $breakpoint-md) {
      margin-top: 0;
      padding: 25px 12px;
      margin: 50px 0;
    }
    & .person-title {
      color: $whiteColor;
      margin-bottom: 25px;
      font-weight: 600;
      text-transform: uppercase;
      @media (max-width: 500px) {
        font-size: 22px;
        margin-bottom: 15px;
      }
    }
    & .person-subtitle {
      color: $whiteColor;
      padding: 12px;
      border-left: 4px solid $redColor;
      font-size: 22px;
      @media (max-width: $breakpoint-lg) {
        font-size: 20px;
      }
      @media (max-width: $breakpoint-md) {
        font-size: 16px;
      }
      @media (max-width: 500px) {
        font-size: 15px;
      }
    }
  }
  &__form {
    width: 350px;
    background: #013E6B;
    margin-bottom: 32px;
    padding: 24px 16px;
    z-index: 22;
    @media (max-width: $breakpoint-md) {
      width: 100%;
    }
    & legend {
      @include fontSize(20, 24);
      line-height: 1;
      color: $whiteColor;
      font-weight: 500;
      margin-bottom: 16px;
    }
    & .form-submit {
      width: 170px;
      margin: 0 auto;
    }
    & .btn-primary {
      width: 100%;
    }
  }
}


.home-main-screen {
  @media (max-width: 500px) {
    overflow-x: hidden;
  }
  & .person-subtitle, & .person-title {
    @media (max-width: $breakpoint-lg) {
      display: none;
    }
  }
  & .main-screen__inner {
    @media (max-width: $breakpoint-lg) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }
  & .container {
    height: 100%;
    max-width: 1340px;
    @media (max-width: 1400px) {
      max-width: 1140px;
    }
  }
  & .main-screen-person {
    width: auto;
    height: 100%;
    left: 500px;
    @media (max-width: 1400px) {
      left: 260px;
    }
  }
  & .main-screen__welcome {
    padding: 24px;
    max-width: 600px;
    margin: 0 0 32px 0;
    @media (max-width: $breakpoint-lg) {
      max-width: 50%;
      margin: 0 0 15px 0;
    }
    @media (max-width: $breakpoint-md) {
      max-width: 100%;
    }
    @media (max-width: 500px) {
      width: calc(100% + 30px);
      max-width: calc(100% + 30px);
      margin: 0 -15px 20px -15px;
    }
  }
  & .main-screen__awards {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 25px;
    @media (max-width: $breakpoint-lg) {
      flex-wrap: wrap;
      margin-bottom: 10px;
      & .awards__item {
        margin-bottom: 20px;
        width: 50%;
      }
      & .awards__stars {
        justify-content: center;
      }
    }
    & img {
      display: block;
      height: 50px;
      width: 100%;
      object-fit: contain;
      // margin-bottom: 17px;
      @media (max-width: $breakpoint-md) {
        margin: 0 auto 0 auto;
      }
    }
  }
  & .awards__stars {
    display: flex;
    align-items: center;
  }
}


.main-screen-person.--mobile {
  display: none;
  @media (max-width: $breakpoint-lg) {
    display: block;
    width: 360px;
    min-width: 360px;
    position: static;
    margin-left: auto;
    position: static;
  }
  @media (max-width: $breakpoint-md) {
    width: 300px;
    min-width: 300px;
  }
  @media (max-width: 500px) {
    width: 270px;
    min-width: 270px;
    margin-right: -80px;
    margin-top: 20px;
  }
}
.main-screen__mobile {
  display: none;
  @media (max-width: $breakpoint-lg) {
    display: block;
    position: relative;
    width: 100%;
    & .main-screen__welcome {
      position: absolute;
      left: 0;
      top: 50%;
      padding: 0;
      background: none;
      width: 60%;
      transform: translate(0, -50%);
      margin: 0;
    }
    & .person-subtitle, & .person-title {
      display: block;
    }
  }
  @media (max-width: 500px) {
    & .main-screen__welcome {
      width: 70%;
    }
  }
}



.sub-landing-main-screen {
  & .main-screen__inner {
    align-items: flex-start;
    padding-top: 35px;
    @media (max-width: $breakpoint-lg) {
      padding-top: 0;
    }
  }
}

.main-content {
  padding: 48px 0;
  &__welcome {
    margin-bottom: 48px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 24px;
    }
    & h1, & h2 {
      padding-left: 8px;
      border-left: 3px solid $redColor;
      color: #142D42;
      font-weight: 500;
      font-size: 24px;
      line-height: 1;
      margin-bottom: 16px;
      @media (max-width: $breakpoint-md) {
        font-size: 20px;
      }
    }
    & h2 {
      font-size: 22px;
    }
    & p {
      margin-bottom: 16px;
    }
    & a {
      color: $lightBlue;
      text-decoration: none;
      border-bottom: 1px solid transparent;
      @include transition(.3);
      &:hover {
        border-color: $lightBlue;
      }
    }
  }
}

.featured {
  margin-bottom: 48px;
  background: #F3F4F5;
  padding: 24px 0 0 0;
  & a {
    display: flex;
    width: 18%;
    height: 80px;
    margin: 0 14px 30px 14px;
    text-decoration: none;
    @media (max-width: $breakpoint-lg) {
      width: 29%!important;
    }
    @media (max-width: $breakpoint-md) {
      width: 43%!important;
    }
    @media (max-width: 400px) {
      width: 41%!important;
    }
  }
  & img {
    display: block;
    object-fit: contain;
    width: 100%;
  }
  & .logo-cnn {
    width: 120px;
  }
  & .logo-orlando-sentinel {
    width: 25%;
  }
  & .logo-washington-post {
    width: 15%;
    height: 90px;
  }
  & .logo-boston-globe {
    width: 24%;
  }
  & .logo-miami-herald {
    width: 24%;
  }
}

.three-columns {
  margin-bottom: 64px;
}

.featured-box {
  background: #F3F4F5;
  padding-bottom: 30px;
  position: relative;
  height: 100%;
  &:before {
    content: '';
    position: absolute;
    left: -16px;
    top: 16px;
    background: #EAEAEA;
    width: 100%;
    height: 100%;
    z-index: -1;
    @media (max-width: $breakpoint-md) {
      left: -8px;
      top: 8px;
    }
  }
  & h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: $darkBlue;
    padding: 32px 16px 8px 16px;
    border-bottom: 4px solid #DB3832;
    margin-bottom: 20px;
  }
  & p {
    padding: 0 24px;
    margin-bottom: 30px;
  }
  & ul {
    padding: 0 24px 0 48px;
    & li {
      margin-bottom: 16px;
      font-weight: 400;
    }
    & a {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.socials {
  margin-bottom: 48px;
  padding: 30px 0;
  background: #F3F4F5;
  & .col-lg-4 {
    @media (max-width: $breakpoint-lg) {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  &-logo {
    margin-bottom: 15px;
    & img {
      display: block;
      width: 200px;
      height: 70px;
      object-fit: contain;
    }
  }
  &-info {
    display: flex;
    align-items: center;
  }
  &-stars {
    margin: 0 14px;
  }
  &-number {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #C93C2C;
  }
  &-reviews {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }
}