@import "../abstracts/mixins";
@import "../abstracts/variables";

.main-screen {
  height: 620px;
  width: 100%;
  background-image: url('../img/main-screen-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  @media (max-width: $breakpoint-lg) {
    height: auto;
  }
  &:before {
    content: '';
    background: rgba(20,49,72,.3);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  & .container {
    height: 100%;
  }
  &__inner {
    position: relative;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @media (max-width: $breakpoint-lg) {
      flex-direction: column;
    }
  }
  &-background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    @include defaultIcon(cover);
  }
  &-person {
    position: absolute;
    width: 410px;
    left: 50px;
    bottom: 0;
    object-fit: contain;
    @media (max-width: $breakpoint-lg) {
      width: 430px;
      left: 0;
    }
    @media (max-width: $breakpoint-md) {
      width: 240px;
      position: static;
      margin: 0 auto;
    }
  }
  &__welcome {
    background: rgba(1, 62, 107, 0.4);
    z-index: 22;
    margin: 0 0 32px -40px;
    padding: 40px;
    max-width: 625px;
    @media (max-width: $breakpoint-lg) {
      max-width: 100%;
      width: 100%;
      margin: 50px 0 30px 0;
    }
    @media (max-width: $breakpoint-md) {
      padding: 25px 12px;
    }
    & .person-title {
      color: $whiteColor;
      margin-bottom: 25px;
      font-weight: 600;
      text-transform: uppercase;
    }
    & .person-subtitle {
      color: $whiteColor;
      padding: 12px;
      border-left: 4px solid $redColor;
    }
  }
  &__form {
    width: 350px;
    background: #013E6B;
    margin-bottom: 32px;
    padding: 24px 16px;
    z-index: 22;
    @media (max-width: $breakpoint-md) {
      width: 100%;
    }
    & legend {
      @include fontSize(20, 24);
      line-height: 1;
      color: $whiteColor;
      font-weight: 500;
      margin-bottom: 16px;
    }
    & .form-submit {
      width: 170px;
      margin: 0 auto;
    }
    & .btn-primary {
      width: 100%;
    }
  }
}

.main-content {
  padding: 48px 0;
  &__welcome {
    margin-bottom: 48px;
  }
}

.featured {
  margin-bottom: 48px;
  background: #F3F4F5;
  padding: 24px 0 0 0;
  & a {
    display: flex;
    width: 18%;
    height: 80px;
    margin: 0 14px 30px 14px;
    text-decoration: none;
    @media (max-width: $breakpoint-lg) {
      width: 29%!important;
    }
    @media (max-width: $breakpoint-md) {
      width: 43%!important;
    }
    @media (max-width: 400px) {
      width: 41%!important;
    }
  }
  & img {
    display: block;
    object-fit: contain;
    width: 100%;
  }
  & .logo-cnn {
    width: 120px;
  }
  & .logo-orlando-sentinel {
    width: 25%;
  }
  & .logo-washington-post {
    width: 15%;
    height: 90px;
  }
  & .logo-boston-globe {
    width: 24%;
  }
  & .logo-miami-herald {
    width: 24%;
  }
}

.three-columns {
  margin-bottom: 64px;
}

.featured-box {
  background: #F3F4F5;
  padding-bottom: 30px;
  position: relative;
  height: 100%;
  &:before {
    content: '';
    position: absolute;
    left: -16px;
    top: 16px;
    background: #EAEAEA;
    width: 100%;
    height: 100%;
    z-index: -1;
    @media (max-width: $breakpoint-md) {
      left: -8px;
      top: 8px;
    }
  }
  & h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: $darkBlue;
    padding: 32px 16px 8px 16px;
    border-bottom: 4px solid #DB3832;
    margin-bottom: 20px;
  }
  & p {
    padding: 0 24px;
    margin-bottom: 30px;
  }
  & ul {
    padding: 0 24px 0 48px;
    & li {
      margin-bottom: 16px;
    }
    & a {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.socials {
  margin-bottom: 48px;
  padding: 30px 0;
  background: #F3F4F5;
  & .col-lg-4 {
    @media (max-width: $breakpoint-lg) {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  &-logo {
    margin-bottom: 15px;
    & img {
      display: block;
      width: 200px;
      height: 70px;
      object-fit: contain;
    }
  }
  &-info {
    display: flex;
    align-items: center;
  }
  &-stars {
    margin: 0 14px;
  }
  &-number {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #C93C2C;
  }
  &-reviews {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }
}