@import "../abstracts/mixins";
@import "../abstracts/variables";

.form-group {
  margin-bottom: 16px;
  & input, & textarea {
    font-family: inherit;
    font-size: inherit;
    resize: none;
    width: 100%;
    color: $defaultText;
    font-size: 16px;
    line-height: 24px;
    padding: 13px 24px;
    background: #FFFFFF;
    border: 1px solid #D0D0D0;
    &::placeholder  {
      color: #898989;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
    }
    &::-moz-placeholder {
      color: #898989;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

