@import "../abstracts/mixins";
@import "../abstracts/variables";

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.--semibold {
  font-weight: 600;
}

.--regular {
  font-weight: 400;
}

.--medium {
  font-weight: 500;
}

.--bold {
  font-weight: 700;
}

.--uppercase {
  text-transform: uppercase;
}

.heading-1 {
  @include fontSize(30, 42);
  line-height: 1.07;
}

.heading-2 {
  @include fontSize(24, 30);
  line-height: 1.33;
}

.heading-3 {
  @include fontSize(20, 24);
  line-height: 1.16;
}

.heading-4 {
  @include fontSize(18, 20);
  line-height: 1.33;
}

.heading-5 {
  @include fontSize(16, 18);
  line-height: 1.33;
}

.heading-6 {
  @include fontSize(14, 16);
  line-height: 1.33;
}

.border-red {
  padding-left: 8px;
  border-left: 3px solid $redColor;
}

.text-white {
  color: $whiteColor;
}

.text-black {
  color: $defaultText;
}

.text-red {
  color: $redColor;
}

.app-title {
  padding-left: 8px;
  border-left: 3px solid $redColor;
  color: #142D42;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 16px;
  @media (max-width: $breakpoint-md) {
    font-size: 20px;
  }
}

.icon {
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  display: inline-block;
  &-info {
    background-image: url('../img/icons/icon-info.svg');
  }
  &-arrow {
    background-image: url('../img/icons/icon-arrow.svg');
  }
  &-arrows {
    background-image: url('../img/icons/icon-arrows.svg');
  }
  &-question {
    background-image: url('../img/icons/icon-question.svg');
  }
  &-hammer {
    background-image: url('../img/icons/icon-hammer.svg');
  }
}